.Product{
  flex: 0 0 32%;
  cursor: pointer;
  transition: .2s;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-bottom: 10px;
}
.Product:hover{
  transform: translateY(-5px);

}
.Product:hover .Button{
  transform: translateY(0);
}
.Product ul{
  padding: 1rem;
  font-size: .8rem;
}
.Product li{list-style: none; color:#636363;}


.Button{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    background: #424242c4;
    color: #fff;
    font-family: auto;
    transition: .2s;
    animation-timing-function: ease-in;
    transform: translateY(100px);
    cursor: pointer;
}
