.Header{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.Header li{list-style: none;}
.itemsSelected{
  width: 19px;
  height: 19px;
  border: 100%;
  background: #ff7200;
  text-align: center;
  border-radius: 100%;
  font-size: 11px;
  color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Logo{
  width:6rem;
}
.Header a{
  color: #0009;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: sans-serif;
}
