.CheckoutWrapper{
  display: flex;
  color: #fff;

}
.Total{
  padding: 2rem;
  background: #0b0b0b;
  color: #fff;
}

.Form{
  flex:auto;
  text-align: center;
  padding: 0.5rem;
  background: black;
  box-sizing: border-box;
}
.Form button{
  width: 150px;
  border-radius: 10px;
}
.Form input, textarea{
  display: block;
  width: 50%;
  outline: none;
  border: none;
  padding: 1.6rem;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  background: #000000e8;
  margin: 0 auto;
  color: #fff;
}
.Form textarea{
  height: 100px;
  resize:none;
}
.OrderDetails{
  display: flex;
  flex-direction: column;
  flex: 0 0 40%;
  padding: 2rem;
  background: #181818;
}
